---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';
const { title } = Astro.props;
---
<html lang="en" data-theme="lemonade" >
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body>

		<header>
			<Header></Header>
		</header>
		
		<main>
			<slot />
		</main>

		<footer class="bg-black">
			<Footer></Footer>
		</footer>
			
	</body>
</html>

<script>
	/* Import af Motion One bibliotek */
	import { animate, stagger, inView, scroll } from "motion";
		animate( "body", { opacity: [ 0, 1] }, { duration: 2 })

			/* Mere animate() */
	animate(".mereanimate", 
	{ opacity: [ 0.4, 1, 0, 0.8], scale: [0.95, 1, 0.7, 0.9], rotate: [0, 180, 270, 360], x: [0, 50, 0, -50 ], y:[0, 50, 0, -50 ]}, 
	{ delay: 2, duration: 4, repeatType: "reverse", repeat: Infinity }
	)
	
/* inView animation */
	inView( ".fotoinview" , () =>{
	animate( ".fotoinview", { x: [-2000, 0 ] }, { duration: 3 })
	})

		/* Stagger animation */
	inView( "#stagger" , () =>{
		animate(
		".staggeranimation li",
		{ opacity: [0, 1] },
		{ 
			delay: stagger(1, { startDelay: 2 })
		}
		)
	})

	/* Timeline animation */
	inView( "#timelineanimationimage" , () =>{
		const timelineanimation = [
		[".timelineanimation", { opacity: 1 }, { duration: 5 }],
		[".timelineanimation", { transform: "rotate(360deg)" }, { duration: 3 }],
		[".timelineanimation", { transform: "scale(1.5)" }, { duration: 0.5 }],
		[".timelineanimation", { transform: "scale(1)" }, { duration: 1 }],
		[".timelineanimation", { opacity: 0.3 }, { duration: 5 }],
		]
		animate( timelineanimation, { duration: 10, repeat: 2 } );
	})


</script>